* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, button, input, select, textarea {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.header {
    margin: 10px auto;
    margin-bottom: 12px;
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header-logo__wrapper {
    display: flex;
}

.header-logo {
    display: flex;
    margin-right: 12px;
}

.burger-menu {
    margin-top: 13px;
    cursor: pointer;
    position: relative;
}

.burger-menu__line {
    width: 35px;
    height: 4px;
    background-color: #00c0ff;
    margin: 6px 0;
}

.small-menu__show {
    animation: small-menu__show .5s ease;
    animation-fill-mode: both;
    opacity: 1;
}

.small-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 45px;
    border-top: 2px solid #00c1ff;
    padding: 0px;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
    padding: 5px 30px 30px 5px;
    display: none;
}

.appear {
    display: block;
}

.small-menu__item {
    display: flex;
    cursor: pointer;
}

.small-menu__item:hover {
    text-decoration: underline;
}

.small-menu__link {
    text-decoration: none;
    padding: 0 10px;
    color: #575756;
    font: 300 17.5px/36px "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.header-nav {
    display: flex;
    margin-top: 7px;
}

.header-nav__item {
    display: flex;
    margin-right: 8px;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-btn {
    text-decoration: none;
    color: #fff;
    background-color: #00c0ff;
    padding: 9px 0 7px;
    text-align: center;
    width: 145px;
    border-radius: 10px;
    font-size: 17.5px;
    font-weight: 300;
    box-sizing: border-box;  
}

.header-btn:hover {
    background: linear-gradient(#00cbff, #0056f9);
}

.hr {
    border: none; 
    color: #ccc;
    background-color: #ccc; 
    height: 2px;
}

.main {
    margin: 0 auto;
    max-width: 1000px;
}

.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin: 23px 0 30px;
    color: #3c3c3b;
}

.select-block {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.select-block__item {
    width: 25%;
    padding: 0 11px;
}

.select-block__item:first-child {
    padding-left: 0;
}

.select-block__item:last-child {
    padding-right: 0;
}

.select-block__select {
    border: 1px solid #706f6f;
    border-radius: 6px;
    padding: 7px 7px 3px;
    width: 100%;
    height: 33px;
}

.select-block__input {
    width: 80%;   
}

.select-block__search-btn {
    margin-left: 6px;
    width: 25px;
    height: 25px;
    background: #fff url(../src/icons/icon-search.png) center no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
}

.switch-price-block {
    display: flex;
    padding-left: 15px;
    margin-bottom: 25px;
}

.switch-price__title {
    margin-right: 8px;
}

.checkbox {
    display: inline-block;
    padding: 5px 5px 5px 38px;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: inherit;
}

.checkbox span:before,
.checkbox span:after {
    content: "";
    position: absolute;
    top: 50%;
    transition: 0.3s;
    box-sizing: border-box;
}

.checkbox span:before {
    left: 0;
    height: 16px;
    margin-top: -8px;
    width: 28px;
    border-radius: 8px;
    background: #999;
}

.checkbox span:after {
    left: 2px;
    height: 12px;
    width: 12px;
    margin-top: -6px;
    background: #fff;
    border-radius: 50%;
}

.checkbox input:checked + span:before {
    background-color: #1679d4;
}

.checkbox input:checked + span:after {
     left: 14px;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {   
    margin: 0 15px 55px;
    width: 170px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid 1px #b5b5b5;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.card-img {
    width: 100%;
}

.card-description {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    font-size: 14px;
}

.card-genre {
    font-size: 11px;
    margin-bottom: 10px;
}

.card-mg {
    margin-bottom: 5px;
}

.card-link {
    color: #00c1ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.card-link:hover {
    text-decoration: underline;
}

.card-price {
    padding: 5px 15px;
    border-radius: 6px;
    background: #00c1ff;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.card-price:hover {
    background-color: #00aee6;
}

.footer__wrapper {
    background: #3c3c3c;
}

.footer {
    margin: 0 auto;
    padding: 5px 20px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.footer__information {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.footer__information a {
    color: #fff;
    text-decoration: none;
}

.footer__information a:hover {
    text-decoration: underline;
}

.footer__icons {
    display: flex;
    width: 20%;
    padding-top: 10px;
}

.footer__icons-item {
    display: flex;
    margin-right: -30px;
}

.footer__icons-link {
    width: 29px;
}
